@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;1,100;1,200&family=Poppins:ital,wght@0,200;0,300;0,500;1,500&display=swap');

* {
     padding: 0; margin: 0;
     text-decoration: none;
     font-family: 'Poppins', 'sans-serif';
     transition: all .2s ease-out;
     scroll-behavior: smooth;
     box-sizing: border-box;
}
.ham-menu {
     display: none;
}
@media (max-width: 991px) {
     .ham-menu {
          display: block;
     }
}